<!DOCTYPE html>
<html>
  <head>
    <title>Airlines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://core.spreedly.com/iframe/iframe-v1.min.js"></script>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-left">
        Spreedly Airlines - Carrigan Edition
      </div>
      
      <div class="navbar-right">
        <%= link_to "Home", root_path %> -
        <%= link_to "Order History", purchases_path %>
      </div>
    </div>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
